# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Source\rust-kata-004\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
